version: '2'
services:
  node:
    build: .
    volumes:
      - ./data:/usr/src/app/data
    links:
      - 'webdis'

  webdis:
    image: 'anapsix/webdis'
    ports:
      - '7379:7379'
    links:
      - 'redis'

  redis:
    image: 'redis:alpine'
    ports:
      - '6379:6379'
